<!--<div id ="timer"></div>
	<div id ="start">Start</div>
	<div id ="stop">Stop</div>
	<div id ="reset">Reset</div>
	<div id ="show">Show time</div>

<div id="categories">
 <div id="cat_left">
  Receitas rápidas e saudáveis, sempre no ponto.
 </div>
 <div id="cat_right">
  <img src="">
 </div>
</div>

<div id="titulo_sugestao">
  <h1>Sugestões do dia</h1>
</div>

<div id="box_container">
	<% @recipes.each do |recipe| %>
    <div id="box_recipe"> 
      <div id="img_box_recipe">
        <%= image_tag(recipe.image) %>
      </div>
      <div>
        <%=recipe.total_time_minutes %>
      </div>
      <div>
        <%= link_to recipe.title, recipe_path(recipe.id) %>
      </div>
    </div>
  <% end %>
</div>
-->

<div id="uvp_first_page">
  Receitas rápidas e saudáveis, sempre no ponto.
</div>

<div id="sugestion">
    <% @recipes.each do |recipe| %>
    <div id="box_recipe"> 
      <div id="box_recipe_image">
        <%= link_to image_tag(recipe.image), recipe_path(recipe.id) %>
      </div>
      <div id="box_recipe_title">
        <%= link_to recipe.title, recipe_path(recipe.id) %>
      </div>
      <div id="box_recipe_total_time">
        Tempo: <%= recipe.total_time_minutes %>
      </div>
      <div id="box_recipe_ingredients">
        <ul>
          <li>Arroz</li>
          <li>Cenoura</li>
          <li>Carne</li>
          <li>Pau de Cabinda</li>
        </ul>
      </div>
    </div>
  <% end %>

</div>