<div id="detail_recipe">
	<div id="top_left">
		<div id="detail_recipe_image">
			<%= image_tag(@recipe.image) %>
		</div>
	</div>

	<div id="top_right">
		<div id="detail_recipe_title">
			<h2><%= @recipe.title %></h2>
		</div>

		<div id="detail">

			<div id="detail_recipe_summary">
				<ul class="sum_list">
					<li>
						<img src="<%=asset_path 'icon_group.jpg'%>">
						<%= @recipe.group %>	
					</li>
					<li>
						<img src="<%=asset_path 'icon_dif.png'%>">
						<%= @recipe.difficulty %>
					</li>
					<li>
						<img src="<%=asset_path 'icon_time.jpg'%>">
						<%= @recipe.total_time_minutes %>
					</li>
				</ul>
			</div>


			<div id="detail_recipe_description">
				<ul class="ingredients">
					<% @recipe.ingredients.each do |ingredient| %>
					  <li><%= ingredient.ingredient_description %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>


<div id="bottom">
	<div id="bottom_left">
		<ul>
  			<% @recipe.steps.each do |step| %>
    			<li>
    				<div class="detail_description">
    					<%= step.description %>
    				</div>
					<div class="timer">
						<span class="runner"><%= step.time %></span>
						<span class="start">Start</span>
					</div>
    			</li>
    		<% end %>
		</ul>
	</div>

	<div id="bottom_right">
		<div id="pub">
			<a href="http://www.continente.pt"><img src="<%= asset_path 'pub1.png' %>"></a>
			<a href="http://www.groupbuddies.com/"><img src="<%= asset_path 'pub2.png' %>"></a>
		</div>
	</div>
</div>
<div id= "buttons">
	<input type="button" value="Back To Menu" onClick= url('localhost:3000')>
	<input type="button" value="Done" onClick="localhost:3000">  
</div>

